header
{
  background-color: #700;
  padding: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-card
{
    max-width: 300px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
body {
    padding-top: 5rem;
}
.colour
{
    background-color: aqua;
}
div.colour{
    color:white;
}

.text
{
    color: black;
    text-align:left;

}
.spacing
{
    text-align: center;
}

button {
    margin-left: 500px;
    margin-bottom: 50px;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: fantasy;
    background-color: #4BCE3D;
    width:100px;
    height: 30px;
    text-align: center;
    color: white;

}

img {
    position: center;
    left: 0;
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
    border: 2px solid #eee;
    border-radius: 50%;
    margin-top: -250px;
  }
  div.center{
    padding-right: 10px;
}




h3,h5,h6{
    text-align: center;
}
.followers
{
    margin:100px;
    margin-left: 180px; 
    display: inline-block;
}